body {
    display: flex;
    flex-direction: row;
    background-color:lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.topBar {
    background-color: lightseagreen;
    position: fixed;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius:5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px -30px 0 0 lightgrey;
    z-index: 2;
}

h1 {
    padding: 10px;
    margin: 0;
    color: black;
}

.navigation {
    text-align: center;
    align-items: center;
    border-radius: 5px;
    width: 200px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    display: flex;
    justify-content: space-around;
}

h2, h3, h4 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    box-shadow:-7px 0 0 0 lightgrey;
    box-shadow: 0 -7px 0 0 lightgrey;
    box-shadow:0 0 0 6px lightgrey;
    border-radius:2px;
    border-top-left-radius: 20px;
    background-color: cadetblue;
    margin-bottom: auto;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 20px;

}

.outerBox {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    border-radius:2px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}

.innerBox {
    flex-direction: row;
    width:45%;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
}

.textBox {
    background-color: lightblue;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    border-radius:2px;
    border-bottom-right-radius: 20px;
    padding-top: 2px;
    margin-top: -18px;
}

.insideTextBox {
    background-color: rgb(98, 194, 226);
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    border-radius:2px;
    border-bottom-right-radius: 20px;
    padding-top: 0px;
    padding-bottom: 1px;
    margin-top: -18px;
}

.insideHeading {
    border-bottom: 7px solid lightblue;
}

.picture {
    max-height: 50%;
    max-width: auto;
    border-radius:2px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: cadetblue solid 4px;
    
}



a {
    text-decoration: none;
}

.buttonText {
    position: relative;
    bottom: 25px;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

.cutout-header {
    border-top-left-radius: 2px;
    border-top-right-radius: 10px;
    text-align: right;
    margin-top: 0px;
}

.button .buttonText {
    visibility: hidden;
    text-align: center;
  
  }
  
.button:hover .buttonText {
    visibility: visible;
  }

.buttonText:hover .button {
    visibility: hidden
}

.button:hover {
      visibility: hidden;
  }

.icon {
    height: 30px;
    margin-top: 20px;
}

.stats-box {
    width: 20%;
    padding: 10px;
    background-color: lavenderblush;
    padding-top: 0px;
    height: 250px;
}
.stats-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}
.stats-heading {
    display: flex;
    flex-direction: row;
    margin-right: -30px;
    align-items: center;
    justify-content: space-between;
}

#about-cutout {
    width: 75%;
}

.sidebar-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 70px;
}

.cutout-box {
    position: absolute;
    left: 20%;
    width: 70%;
    height: 20px;
    padding-top: 7px;
}

.slider-box {
    position: absolute;
    left: 20%;
    width: 40%;
    height: 20px;
    background:
    repeating-linear-gradient(
    90deg,
     grey,
     grey 0.75%,
     white 0.75%,
     white 10%);
    border-radius: 5px;
    border: black solid 2px;
    padding: 0px;
    margin-top: 7px;
}
.sidebar-title{
    padding-right: 20px;
}
.sidebar {
    margin-left: 10px;
    width: 25%;
    margin-top: 15px;
}

.slider {
    background-color: cadetblue;
    height: 20px;
    width: 100%;
    opacity: 0.75;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.stat-num {
    visibility: hidden;
}

.stats-nav .slider-box {
    visibility: hidden;
}

.stats-nav .cutout-box {
    visibility: hidden
}
.stats-nav:hover .cutout-box {
    visibility: visible;
}


.stats-nav:active .slider-box {
    visibility: visible;
}

.stats-nav:hover .stat-num {
    visibility: visible;
}

.stats-nav:hover .stat-text {
    visibility: visible;
}

.stats-nav:hover #about-cutout {
    visibility: hidden;
}

.stats-nav:hover .slider {
    animation-name: slider;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

.slider-text {
    padding: 0px;
    margin: 0px;
}

.slider-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.stats-nav:hover #css-slider {
    animation-name: css-slider;
}

@keyframes css-slider {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

.stats-nav:hover #html-slider {
    animation-name: html-slider;
}

@keyframes html-slider {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.stats-nav:hover #js-slider {
    animation-name: js-slider;
}

@keyframes js-slider {
    0% {
        width: 0%;
    }
    100% {
        width: 25%;
    }
}