body {
    display: flex;
    flex-direction: column;
    background-color:lightgray;
}
h1 {
    color: black;
    background-color: cornflowerblue;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-align: center;
    flex-direction: column;
}



.navigation {
    text-align: center;
    background-color: cadetblue;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    ;
}

h2, h3, h4 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    border-bottom: 10px solid lightgrey;
    border-top-left-radius: 20px;
    background-color: blueviolet;
    margin-bottom: auto;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;

}

.experience {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: grey;
}

.job {
    flex-direction: row;
    max-width: 600px;
}

.textBox {
    background-color: cadetblue;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    border-bottom-right-radius: 20px;
    padding-top: 0px;
    margin-top: -18px;
   
}