body {
    display: flex;
    flex-direction: column;
    background-color:lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topBar {
    background-color: lightseagreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius:5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 {
    padding-left: 10px;
    margin: 0:
}

.navigation {
    text-align: center;
    border-radius: 5px;
    width: 200px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    display: flex;
    justify-content: space-around;
}

h2, h3, h4 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    border-bottom: 7px solid lightgrey;
    border-radius:2px;
    border-top-left-radius: 20px;
    background-color: cadetblue;
    margin-bottom: auto;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;

}

.outerBox {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    border-radius:2px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}

.innerBox {
    flex-direction: row;
    width:45%;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
}

.textBox {
    background-color: lightblue;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    border-radius:2px;
    border-bottom-right-radius: 20px;
    padding-top: 2px;
    margin-top: -18px;
}

.insideTextBox {
    background-color: rgb(98, 194, 226);
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    border-radius:2px;
    border-bottom-right-radius: 20px;
    padding-top: 0px;
    padding-bottom: 1px;
    margin-top: -18px;
}

.insideHeading {
    border-bottom: 7px solid lightblue;
}

.picture {
    max-width: 50%;
    max-height: auto;
    border-radius:2px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.navButton {
    height: 30px;
}